@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-border-bottom {
  position: relative;
}

.gradient-border-bottom::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px; /* Adjust thickness */
  width: 100%;
  background: linear-gradient(to right, rgba(0, 206, 201, 1), rgba(0, 206, 201, 1), rgba(255, 204, 0, 1), rgba(223, 230, 233, 1));
}

.gradient-bg {
  background: linear-gradient(to right, rgba(162, 155, 254, 0.3), rgba(0, 206, 201, 0.3));
}

body {
  background-color: rgba(239, 239, 253, 1);
}

.margin-minus-right {
  margin-right: -1rem;
}

.margin-minus-left {
  margin-left: -1rem;
}
